@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Lora&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}