@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Lora&display=swap');
@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}